h1
{
text-align: center;
}
body{
font-family: 'Montserrat', sans-serif;
background: #576986;
color: #f8fafc;
}
h2
{
font-family: Arial;
font-style: italic;
color: rgb(34, 159, 34);
} 

.para_1
{
font-style : italic ;
color : rgb(192, 34, 34) ;
}

#lucar
{
    height: 20%;
}
.loop {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
}


@keyframes loop {
  0% {
    transform: translateX(-65%);
  }
  33%{
    transform: translateX(30%);
  }
  66% {
    transform: translateX(30%);
  }
  100%{
    transform: translateX(1000%);
  }
}